@model GestionStageEquipe7.Areas.Stages.Models.Employeur

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employeur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeurId" />
            <div class="form-group">
                <label asp-for="NomEmployeur" class="control-label"></label>
                <input asp-for="NomEmployeur" class="form-control" />
                <span asp-validation-for="NomEmployeur" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Actif" /> @Html.DisplayNameFor(model => model.Actif)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TypeEmployeurId" class="control-label"></label>
                <select asp-for="TypeEmployeurId" class="form-control" asp-items="ViewBag.TypeEmployeurId"></select>
                <span asp-validation-for="TypeEmployeurId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>

    <h1>Mission de l'employeur</h1>
   
    <p>
        <a asp-action="Create"asp-controller="EmployeurMissionEmployeurs" asp-route-id=@Model.EmployeurId> Create New </a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NomEmployeur)
                </th>
                <th>
                    Mission
                </th>
                <th></th>
            </tr>
        </thead>
         <tbody>
            @if(@Model.EmployeursMissionEmployeur != null)
           {
            @foreach (var item in @Model.EmployeursMissionEmployeur)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employeurs.NomEmployeur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MissionsEmployeur.DescriptionMissionEmployeur)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "EmployeurMissionEmployeurs", new { id = item.EmployeurMissionEmployeurId }) |
                        @Html.ActionLink("Delete", "Delete", "EmployeurMissionEmployeurs", new { id = item.EmployeurMissionEmployeurId, id2 = Model.EmployeurId })

                    </td>
                </tr>
            }
           }
        </tbody>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
